# Assignment Instructions

`Hello Innominion,`

- **Try to attempt all the questions in every possible way.**
- **Some other topics are required to solve some questions. don't panic.**
- **Those questions can be answered after the topics are taught.**


- `Join Mentoring Session for the Support/Doubts Resolving with Our Technical Mentors (2.00 PM - 6.00 PM  Mon-Sat)` 

Happy Learning !!!

###  Dictionary

**`Question :`Create Dictionary for following information as "person1":**
   - Name = John
   - Gender= Male
   - Occupation = Data Scientist
   - Location  = Nizampet, Hyderabad

In [18]:
# CODE HERE
person1={"Gender": "Male","Location": "Nizampet, Hyderabad","Name": "John","Occupation": "Data Scientist"}
person1

{'Gender': 'Male',
 'Location': 'Nizampet, Hyderabad',
 'Name': 'John',
 'Occupation': 'Data Scientist'}

In [19]:
person1

{'Gender': 'Male',
 'Location': 'Nizampet, Hyderabad',
 'Name': 'John',
 'Occupation': 'Data Scientist'}

> print keys in person1 as a list

In [3]:
# CODE HERE
person1={"Name": "John","Gender": "Male","Occupation": "Data Scientist","Location": "Nizampet, Hyderabad"}
keysList = list(person1.keys())
print(keysList)

['Name', 'Gender', 'Occupation', 'Location']

['Name', 'Gender', 'Occupation', 'Location']

> **`Question:` Remove Location in person1**

In [4]:
# CODE HERE
person1.update({"Age": "27"})
del person1["Location"]
person1["Name"]="Srikanth"
person1

{'Name': 'Srikanth',
 'Gender': 'Male',
 'Occupation': 'Data Scientist',
 'Age': '27'}

{'Age': 27,
 'Gender': 'Male',
 'Name': 'Srikanth',
 'Occupation': 'Data Scientist'}

> **`Question:` Create dictionary of person2 with**
- Name  = Raghu Ram
- Gender = Male
- Age  = 25
- Occupation = Data Scienctist

In [21]:
# CODE HERE
person2={"Age": 25,"Gender": "Male","Name": "Raghu Ram","Occupation": "Data Scientist"}
person2

{'Age': 25,
 'Gender': 'Male',
 'Name': 'Raghu Ram',
 'Occupation': 'Data Scientist'}

In [5]:
person2

{'Age': 25,
 'Gender': 'Male',
 'Name': 'Raghu Ram',
 'Occupation': 'Data Scientist'}

> **`Question:` Print the output as show below**

In [22]:
# CODE HERE
print('=============== person1=================')
print(person1)
print('=============== person2=================')
print(person2)

=============== person1=================
{'Gender': 'Male', 'Location': 'Nizampet, Hyderabad', 'Name': 'John', 'Occupation': 'Data Scientist'}
=============== person2=================
{'Age': 25, 'Gender': 'Male', 'Name': 'Raghu Ram', 'Occupation': 'Data Scientist'}

# create a dictionary
#### `Question:` remove the elements from that dictionary using different methods
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25,6:36,7:49}

In [12]:
# CODE HERE
# METHOD1
a={1: 1, 2: 4, 3: 9, 4: 16, 5: 25,6:36,7:49}
a.pop(3)
a

{1: 1, 2: 4, 4: 16, 5: 25, 6: 36, 7: 49}

In [14]:
# method2
b={1: 1, 2: 4, 3: 9, 4: 16, 5: 25,6:36,7:49}
b.popitem()
b

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}

In [16]:
# method3
b={1: 1, 2: 4, 3: 9, 4: 16, 5: 25,6:36,7:49}
b.clear()
b

{}


### `Question:` print the values from the given dictionary in descending order
{0: 0, 1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

In [27]:
# CODE HERE
a={0: 0, 1: 1, 3: 9, 5: 25, 7: 49, 9: 81}
b=list(a.values())
b.reverse()
b

[81, 49, 25, 9, 1, 0]

### `Question:` merge the below 3 dictionaries
dict1 = { 'a': 1, 'b': 2 }
dict2 = { 'b': 3, 'c': 4 }
dict3 = { 'c': 5, 'd': 6 }

In [26]:
# CODE HERE
dict1 = { 'a': 1, 'b': 2 } 
dict2 = { 'b': 3, 'c': 4 } 
dict3 = { 'c': 5, 'd': 6 }
dict4=dict1|dict2|dict3
print(dict4)

{'a': 1, 'b': 3, 'c': 5, 'd': 6}

In [3]:

dict1 = { 'a': 1, 'b': 2 }
dict2 = { 'b': 3, 'c': 4 }
dict3 = { 'c': 5, 'd': 6 }

{'a': 1, 'b': 3, 'c': 5, 'd': 6}

**`Question:` change Charanâ€™s salary to 8500 in the following dictionary**

sample_dict = {
    'emp1': {'name': 'Jhony', 'salary': 7500},
    'emp2': {'name': 'Ravi', 'salary': 8000},
    'emp3': {'name': 'Charan', 'salary': 6500}
}

In [37]:
# CODE HERE
sample_dict = {'emp1': {'name': 'Jhony', 'salary': 7500},'emp2': {'name': 'Ravi', 'salary': 8000},'emp3': {'name': 'Charan', 'salary': 6500}
}
sample_dict 
sample_dict["emp3"]["salary"]=8500
sample_dict

{'emp1': {'name': 'Jhony', 'salary': 7500},
 'emp2': {'name': 'Ravi', 'salary': 8000},
 'emp3': {'name': 'Charan', 'salary': 8500}}

{'emp1': {'name': 'Jhony', 'salary': 7500},
 'emp2': {'name': 'Ravi', 'salary': 8000},
 'emp3': {'name': 'Charan', 'salary': 8500}}

**`Question:` Print the value of key â€˜historyâ€™ from the below dict**

In [29]:
sampleDict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}

In [30]:
# CODE HERE
print(sampleDict['class']['student']['marks']['history'])

80

80

**`Question:` Rename a key Location to a Area in the following dictionary**

sample_dict=
{'Gender': 'Male',
 'Location': 'Nizampet, Hyderabad',
 'Name': 'John',
 'Occupation': 'Data Scientist'}

In [38]:
sample_dict={'Gender': 'Male',
 'Location': 'Nizampet, Hyderabad',
 'Name': 'John',
 'Occupation': 'Data Scientist'}

In [39]:
# CODE HERE
sample_dict['Area'] = sample_dict.pop('Location')
print(sample_dict)

{'Gender': 'Male', 'Name': 'John', 'Occupation': 'Data Scientist', 'Area': 'Nizampet, Hyderabad'}

{'Gender': 'Male',
 'Area': 'Nizampet, Hyderabad',
 'Name': 'John',
 'Occupation': 'Data Scientist'}

**`Question:` database = {'ram':1234,'raghu':5678,'kanav':1357}**
## Tasks :-
### 1. if the username and password matches print hello username
### 2. if the username and password doesnot match, ask, you want me to add into the database
### 3. show the updated database list

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)

In [7]:
database = {'ram':1234,'raghu':5678,'kanav':1357}
a =input()
b=int(input())
key=list(database.keys())
value=list(database.values())
if a in key:
    i=key.index(a)
    print(value[i])
    if a==key[i] and b==value[i]:
        print("hello",a)
else:
    print(" you want me to add into the database? yes/no")
    yestest=input()
    if yestest=='yes':
        key.append(a)
        value.append(b)
        res=dict(zip(key,value))
        print(str(res))
    else:
        print('bye')

fgti
67565
 you want me to add into the database? yes/no
yes
{'ram': 1234, 'raghu': 5678, 'kanav': 1357, 'fgti': 67565}